DB_NAME=sbp
DB_USER=sbp
DB_PASS=password
DB_PORT=5432
DB_HOST=postgresdb
JWT_EXPIRATION=3600000
JWT_SECRET=0279cf95-8bf9-4bba-ab7a-145e9f009a4e
MAGIC_LINK_EXPIRATION_TIME=3600000
MAGIC_LINK_SECRET=3a36b638-2291-4435-bb70-24a8839c45be
MAGIC_LINK_BASE_URL=http://localhost:3000
MAGIC_LINK_FRONTEND_ENDPOINT=login/link
MAGIC_LINK_PARAM_NAME=token
SMTP_SERVER=localhost
SMTP_PORT=1025
SMTP_USERNAME=noreply@example.com
SMTP_PASSWORD=password
SMTP_AUTH_REQ=false
SMTP_AUTH_STARTTLS=false
